# Where photos/videos are stored on the host
UPLOAD_LOCATION=/data/immich/library
# Where the Postgres data directory lives on the host
DB_DATA_LOCATION=/data/immich/postgres

IMMICH_VERSION=v3

DB_PASSWORD=changeme
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

IMMICH_TELEMETRY_INCLUDE=all
