# Image of the bot, built and pushed by the Aspire deployment pipeline
# to the self-hosted registry.
BOT_IMAGE=registry.example.com/traktv-tg-bot/bot:latest

POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme

# From @BotFather on Telegram
TELEGRAM_BOT_TOKEN=changeme
# https://trakt.tv/oauth/applications
TRAKT_CLIENT_ID=changeme
TRAKT_CLIENT_SECRET=changeme
# https://www.themoviedb.org/settings/api
TMDB_API_KEY=changeme
